{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Kelly - Minimal Portfolio & Blog HTML</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,600,700%7CLato:400,700' type='text/css' media='all' />

		<link rel="stylesheet" type="text/css" href="{% static 'css/libs/font-awesome.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/libs/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/libs/justifiedGallery.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/libs/magnific-popup.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	</head>

<body class="home"> 
	<div id="main-content">
		<!-- Preload -->
	<div id="preload">
		<div class="kd-bounce">
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- Preload -->

	<!-- Mobile Menu -->
	<div class="mobile">
		<div class="container">
			<!-- Mobile -->
			<div class="menu-mobile">
				<span class="item item-1"></span>
				<span class="item item-2"></span>
				<span class="item item-3"></span>
			</div>
			<!-- End Mobile -->

			<!-- Logo -->
			<div class="logo">
				<a href="index.html">Kelly</a>
			</div>
			<!-- End Logo -->
		</div>
	</div>
	<div class="hide-menu"></div>
	<!-- End Mobile Menu -->

	<div class="container">
		<div class="row">
			{% include 'header.html' %}
			{% block content %}											
			{% endblock %}
		</div>
	</div>
</div>
<!-- End Wrapper Site -->

    {% include 'footer.html' %}
	<!-- Scripts -->
	<script src="{% static '/js/libs/jquery-1.12.4.min.js' %}"></script>
	<script src="{% static '/js/libs/jquery.justifiedGallery.min.js' %}"></script>
	<script src="{% static '/js/libs/jquery.magnific-popup.js' %}"></script>
	<script src="{% static '/js/libs/scripts.js' %}"></script>
	<!-- End Scripts -->

</body>
</html>