{% extends 'base.html' %}
{% load static %}


{% block content %}
	<div class="col-md-9 col-md-offset-3">
		<div class="projects">

			<article class="post">
				<div class="post-media">
					<a href="single.html">
						<img src="{% static 'images/posts/1.jpg' %}" alt="Post">
					</a>
				</div>
				<div class="post-content">
					<h2 class="title">
						<a href="single.html">Make a difference today</a>
					</h2>

					<!-- Post Details -->
					<div class="post-details">
						<a href="#" class="post-date">October 9, 2017</a>
						<a href="#" class="post-views">15 views</a>
						<a href="#" class="post-comments">03 Comments</a>
					</div>
					<!-- End Post Details -->

					<!-- The Content -->
					<div class="the-excerpt">
						<p>Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
							Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
						</p>
					</div>
					<!-- End The Content -->
				</div>
			</article>

			<article class="post">
				<div class="post-media">
					<a href="single.html">
						<img src="{% static 'images/posts/2.jpg' %}" alt="Post">
					</a>
				</div>
				<div class="post-content">
					<h2 class="title">
						<a href="single.html">Make a difference today</a>
					</h2>

					<!-- Post Details -->
					<div class="post-details">
						<a href="#" class="post-date">October 9, 2017</a>
						<a href="#" class="post-views">15 views</a>
						<a href="#" class="post-comments">03 Comments</a>
					</div>
					<!-- End Post Details -->

					<!-- The Content -->
					<div class="the-excerpt">
						<p>Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
							Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
						</p>
					</div>
					<!-- End The Content -->
				</div>
			</article>

			<article class="post">
				<div class="post-media">
					<a href="single.html">
						<img src="{% static 'images/posts/3.jpg' %}" alt="Post">
					</a>
				</div>
				<div class="post-content">
					<h2 class="title">
						<a href="single.html">Make a difference today</a>
					</h2>

					<!-- Post Details -->
					<div class="post-details">
						<a href="#" class="post-date">October 9, 2017</a>
						<a href="#" class="post-views">15 views</a>
						<a href="#" class="post-comments">03 Comments</a>
					</div>
					<!-- End Post Details -->

					<!-- The Content -->
					<div class="the-excerpt">
						<p>Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
							Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
						</p>
					</div>
					<!-- End The Content -->
				</div>
			</article>

			<article class="post">
				<div class="post-media">
					<a href="single.html">
						<img src="{% static 'images/posts/4.jpg' %}" alt="Post">
					</a>
				</div>
				<div class="post-content">
					<h2 class="title">
						<a href="single.html">Make a difference today</a>
					</h2>

					<!-- Post Details -->
					<div class="post-details">
						<a href="#" class="post-date">October 9, 2017</a>
						<a href="#" class="post-views">15 views</a>
						<a href="#" class="post-comments">03 Comments</a>
					</div>
					<!-- End Post Details -->

					<!-- The Content -->
					<div class="the-excerpt">
						<p>Morbi leo enim, laoreet eget urna id, ullamcorper condimentum urna. Curabitur accumsan sem et nisi ultricies porttitor. Aliquam sed nunc elit. Nunc faucibus interdum mauris at mattis. Phasellus congue volutpat porttitor.
							Vivamus fringilla iaculis ex, et condimentum magna pharetra id. Aliquam erat volutpat. Nam odio velit, egestas vel leo tempus, luctus dapibus mauris.
						</p>
					</div>
					<!-- End The Content -->
				</div>
			</article>			
		</div>
	</div>
{% endblock %}