{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="col-md-9 col-md-offset-3">
  <div class="projects">
    <article class="post">
      <div class="post-media">
        <a href="single.html">
          <img src="{% static 'images/contact.jpg' %}" alt="Contact" />
        </a>
      </div>
      <div class="post-content">
        <h2 class="title">Contact Me</h2>

        <!-- The Content -->
        <div class="the-content">
          <p>
            Suspendisse eleifend nulla ac rhoncus egestas. Sed vehicula ipsum
            vitae finibus condimentum. Phasellus rhoncus, nulla et sodales
            sodales, massa nisl volutpat odio, ac sodales risus metus
            sollicitudin odio.
          </p>
          <ul>
            <li><strong>Phone:</strong> +123 456 789</li>
            <li><strong>Email:</strong> kendytheme.ksb@gmail.com</li>
            <li><strong>Location:</strong> 820 Utica Ave, Brooklyn, NY</li>
          </ul>
          <p>&nbsp;</p>

          <form method="post" class="comment-form contact">
            {% csrf_token %}
            <div class="contact-item form-name">
              <input
                name="name"
                value=""
                type="text"
                placeholder="Your Name *"
              />
            </div>
            <div class="contact-item form-email">
              <input
                name="email"
                value=""
                type="text"
                placeholder="Your Email *"
              />
            </div>
            <div class="contact-item form-phone">
              <input
                id="url"
                name="phone"
                value=""
                type="number"
                placeholder="your phone number"
              />
            </div>
            <div class="contact-item form-url">
              <input
                id="url"
                name="subject"
                value=""
                type="text"
                placeholder="Subject"
              />
            </div>
            <div class="contact-item field-full form-message">
              <textarea name="message" placeholder="Message *"></textarea>
            </div>
            <div class="contact-item form-submit">
              <input
                name="submit"
                type="submit"
                id="submit"
                class="submit"
                value="POST Comment"
              />
            </div>
          </form>
          <p>&nbsp;</p>

          <div class="post-footer">
            <div class="post-share-wrap">
              <div class="post-share">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="#">
                  <i class="fa fa-pinterest"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End The Content -->
      </div>
    </article>
  </div>
</div>
{% endblock %}
