{% extends 'base.html' %}
{% load static %}


{% block content %}
	<div class="col-md-9 col-md-offset-3">
		<div class="projects">
        {% for post in posts %}
			<article class="post">
				<div class="post-media">
					<a href="{% url 'blog' %}">
						<img style="width: 700px;" src="{% if post.feature_image %}{{post.feature_image.url}} {% else %} {% endif %}" alt="Post">
					</a>
				</div>
				<div class="post-content">
					<h2 class="title">
						<a href="{% url 'blog' %}">{{ post.title }}</a>
					</h2>

					<!-- Post Details -->
					<div class="post-details">
						<a href="{% url 'blog' %}" class="post-date">{{ post.published_date }}</a>
						<!-- <a href="#" class="post-views">15 views</a> -->
						<a href="{% url 'blog' %}" class="post-comments">{{ post.comments.count }} comments</a>
					</div>
					<!-- End Post Details -->

					<!-- The Content -->
					<div class="the-excerpt">
						<p>{{ post.description|truncatewords:'50' }}
						</p>
					</div>
					<!-- End The Content -->
				 </div>
			</article> 
			{% endfor %}
		</div>
	</div>
{% endblock %}