{% extends 'base.html' %}
{% load static %}
{% block content %}

			<div class="col-md-9 col-md-offset-3">
				<div class="projects">
					<div class="project-item">
						<a href="{% url 'home-details' %}">
							<img src="{% static 'images/projects/1.jpg' %}" alt="">
						</a>
						<h2 class="title">
							<a href="#">Emotions</a>
						</h2>
					</div>

					<div class="project-item">
						<a href="{% url 'home-details' %}">
							<img src="{% static 'images/projects/2.jpg' %}" alt="">
						</a>
						<h2 class="title">
							<a href="#">Mountain</a>
						</h2>
					</div>

					<div class="project-item">
						<a href="{% url 'home-details' %}">
							<img src="{% static 'images/projects/3.jpg' %}" alt="">
						</a>
						<h2 class="title">
							<a href="#">Interface</a>
						</h2>
					</div>

					<div class="project-item">
						<a href="{% url 'home-details' %}">
							<img src="{% static 'images/projects/4.jpg' %}" alt="">
						</a>
						<h2 class="title">
							<a href="#">Transportation</a>
						</h2>
					</div>

					<div class="project-item">
						<a href="{% url 'home-details' %}">
							<img src="{% static 'images/projects/5.jpg' %}" alt="">
						</a>
						<h2 class="title">
							<a href="#">Perspective</a>
						</h2>
					</div>

					<div class="project-item">
						<a href="{% url 'home-details' %}l">
							<img src="{% static 'images/projects/6.jpg' %}" alt="">
						</a>
						<h2 class="title">
							<a href="#">Mixilicious</a>
						</h2>
					</div>

					<div class="project-item">
						<a href="{% url 'home-details' %}">
							<img src="{% static 'images/projects/7.jpg' %}" alt="">
						</a>
						<h2 class="title">
							<a href="#">Creative</a>
						</h2>
					</div>

					<div class="project-item">
						<a href="{% url 'home-details' %}">
							<img src="{% static 'images/projects/8.jpg' %}" alt="">
						</a>
						<h2 class="title">
							<a href="#">Stapler</a>
						</h2>
					</div>
				</div>
			</div>
<!-- End Wrapper Site -->

{% endblock %}