{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="col-md-9 col-md-offset-3">
  <div class="projects">
    <div class="project">
      <div class="detail-content">
        <h2 class="title">Vintage Stapler</h2>
        <div class="the-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum
            odio urna, vitae ultrices mi malesuada ut. Praesent lacus erat,
            ultricies ut risus nec, pellentesque interdum purus. In mi justo,
            consectetur tincidunt sapien eget, venenatis volutpat risus.
            Maecenas eget pretium eros. Integer tincidunt aliquet ligula in
            vulputate. Ut ut justo facilisis, vulputate augue vel, vestibulum
            tortor. Nullam varius lacus non porttitor sodales. Vivamus ultricies
            est vitae pharetra convallis.
          </p>
        </div>
        <div class="project-attributes">
          <table>
            <tbody>
              <tr>
                <td class="name">Client</td>
                <td class="value">
                  <a href="http://kendytheme.net">Royal Building</a>
                </td>
              </tr>
              <tr>
                <td class="name">Year</td>
                <td class="value">07/2016</td>
              </tr>
              <tr>
                <td class="name">Location</td>
                <td class="value">NewYork City , USA</td>
              </tr>
              <tr>
                <td class="name">Budget</td>
                <td class="value">$10.000,00</td>
              </tr>
              <tr>
                <td class="name">Category</td>
                <td class="value">Branding Design</td>
              </tr>
              <tr>
                <td class="name">Share</td>
                <td class="value">
                  <div class="socials">
                    <div class="kd-sharing-post-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                      <a href="#"><i class="fa fa-google-plus"></i></a>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="images-project">
        <a href="{% static 'images/projects/1.jpg' %}" class="popup">
          <img src="{% static 'images/projects/1.jpg' %}" alt="" />
        </a>
        <a href="{% static 'images/projects/2.jpg' %}" class="popup">
          <img src="{% static 'images/projects/2.jpg' %}" alt="" />
        </a>
        <a href="{% static 'images/projects/3.jpg' %}" class="popup">
          <img src="{% static 'images/projects/3.jpg' %}" alt="" />
        </a>
        <a href="{% static 'images/projects/4.jpg' %}" class="popup">
          <img src="{% static 'images/projects/4.jpg' %}" alt="" />
        </a>
      </div>

      <!-- Navigation -->
      <div class="navigation-wrap">
        <a href="#" class="page-numbers"><i class="fa fa-angle-left"></i></a>
        <a href="#" class="page-numbers"><i class="fa fa-th"></i></a>
        <a href="#" class="page-numbers"><i class="fa fa-angle-right"></i></a>
      </div>
      <!-- End Navigation -->
    </div>
  </div>
</div>
{% endblock %}